pandas
openai
flake8
numpy
matplotlib
seaborn
python-dotenv
langchain
langchain-community
chromadb
langchain-openai
transformers
gradio 
flax 
tensorflow
torch
snowflake-connector-python
bcrypt
langchain-openai
